<?php if($hide == 0){ ?>
	<ul id="menu">
	  	<li id="report"><a class="parent"><i class="fa fa-tags fa-fw"></i> <span><?php echo 'Order Screen'; ?></span></a>
			<ul>
				<li><a href="<?php echo $kitchen_display; ?>"><?php echo 'Kitchen Display'; ?></a></li>
			  	<li><a href="<?php echo $orderprocess; ?>"><?php echo 'Order Entry Screen'; ?></a></li>
			  	<li><a href="<?php echo $orderprocesss; ?>"><?php echo 'Order Process Report'; ?></a></li>
			</ul>
	  	</li>
	</ul>
<?php } ?>