<?php echo $header; ?><?php echo $column_left; ?>
<div id="content" class="sucess" style="overflow-y: hidden;">
  	<div class="page-header">
		<div class="container-fluid">
	  		
	  		<h1><?php echo 'Complimentary' ; ?></h1>
		</div>
  	</div>
  	<div class="container-fluid">
		<div class="panel panel-default">
		  	<div class="panel-body">
				<form action="<?php echo $update; ?>" method="post" enctype="multipart/form-data" id="form-complimentary" class="form-horizontal">
					
					<div class="form-group ">
						<label class="col-sm-3 control-label" style=""><?php echo 'Table No.'; ?></label>
						<div class="col-sm-3">
							<select name="table_frm" id="table_frm" class="form-control">
								<option value=""><?php echo "Please Select" ?></option>
								<?php foreach($tables_from as $skey => $svalue){ ?>
									<?php if($skey == $table_frm){ ?>
										<option selected="selected" value="<?php echo $skey ?>"><?php echo $svalue ?></option>
									<?php } else { ?>
						   				<option value="<?php echo $skey ?>"><?php echo $svalue ?></option>
						   			<?php } ?>
								<?php } ?>
							</select>
							<input type="hidden" name="table_frm1" id="table_frm1" value="<?php echo $table_frm1; ?>" class="form-control" />
					  	</div>
				  	</div>

				  	<div class="form-group ">
						<label class="col-sm-3 control-label" style=""><?php echo 'Resion'; ?></label>
						<div class="col-sm-3">
							
							<input type="text" name="resion" id="resion" value="<?php echo ""; ?>" class="form-control" />
					  	</div>
				  	</div>


				  	<div class="form-group ">
						<label class="col-sm-3 control-label" style=""><?php echo 'Login Name'; ?></label>
						<div class="col-sm-3">
							
							<input type="text" name="login_name" id="login_name" value="<?php echo ""; ?>" class="form-control" />
					  	</div>
				  	</div>

				  	<div class="form-group ">
						<label class="col-sm-3 control-label" style=""><?php echo 'Password'; ?></label>
						<div class="col-sm-3">
							
							<input type="password" name="password" id="password" value="<?php echo ""; ?>" class="form-control" />
					  	</div>
				  	</div>
				  	<div>
					  	<button ><a href="<?php echo $update; ?>"  style="font-size:12px;" title="<?php echo "update"; ?>"  style="width: 79px;background-color: darkblue;shape-margin: 10px;color: whitesmoke;"></a>Update</button>
					</div>
				</form>
		  	</div>
		</div>
  	</div>
</div> 
<!-- <script type="text/javascript">
$('#table_frm').on('change', function() {
  table_frm = $('#table_frm option:selected').text();
  $('#table_frm1').val(table_frm);
});
// $('#table_to').on('change', function() {
//   table_to = $('#table_to option:selected').text();
//   $('#table_to1').val(table_to);
// });
$(document).ready(function() {
  	//order_no = $('#order_no').val();
  	//if(order_no != '' && order_no != '0' && order_no != undefined){
  		$('.sav').html('');
  		html = '<a tabindex="2" id="save_button" data-toggle="tooltip" onclick="save()" title="Update" class="btn btn-primary">Update</a>';
  		$('.sav').append(html);
	//}
	
});

$(document).on('keyup','#save_button', function (e) {
    if (e.keyCode == 33) {
        save();
    }
});

$(document).on('keypress','input,select', function (e) {
//$('input,select').on('keypress', function (e) {
    if (e.which == 13) {
        e.preventDefault();
        var $next = $('[tabIndex=' + (+this.tabIndex + 1) + ']');
        if (!$next.length) {
            $next = $('[tabIndex=1]');
        }
        $next.focus();
    }
});

function save(){
  	action = '<?php //echo $action; ?>';
  	action = action.replace("&amp;", "&");
  	$.post(action, $('#form-complimentary').serialize()).done(function(data) {
    	var parsed = JSON.parse(data);
    	alert(parsed);
     	if(parsed.info == 1){
     		$('.sucess').html('');
     		$('.sucess').append(parsed.done);
     		$('#warning_div').hide();
     		$('#warning_div_1').hide();
     		$('#warning_div_2').hide();
     		$('#warning_div_3').hide();
     		//$('.custom-class').trigger("click");
     		//$('.ui-icon-closethick').trigger('click');
     	} else {
     		$('#warning_div').hide();
     		$('#warning_div_1').hide();
     		$('#warning_div_2').hide();
     		$('#warning_div_3').hide();
     		if(parsed.status == 1){
     			$('#warning_div').show();
     		} else if(parsed.status == 2){
     			$('#warning_div_1').show();
     		} else if(parsed.status == 3){
     			$('#warning_div_2').show();
     		} else if(parsed.status == 4){
     			$('#warning_div_3').show();
     		}
     		$('#table_to').focus();
     	}
	});
}
</script> -->